<h1 style="color: green"><%=flash[:notice]%></h1>
<h1 style="color: green"><%=flash[:logout]%></h1>
<h1>Home Page</h1>
<%= link_to 'Create NewUser', "/clients/new" %> <br><br>
<%= link_to 'login', '/clients/login' %>
